<!DOCTYPE html>
<html>
<head>
    <title>Cyber Crime Portal</title>
</head>
<body style="font-family:Arial; background:#f4f6f8; padding:40px;">

<h1 style="color:#0b3c5d;">Cyber Crime Reporting & Awareness Portal</h1>

<p style="font-size:16px;">
Report cyber crimes securely and learn how to stay safe online.
</p>

<div style="margin-top:20px;">
    <a href="/report/"
       style="padding:10px 15px; background:#0b3c5d; color:white; text-decoration:none;">
        Report Cyber Crime
    </a>
</div>


<div style="margin-top:30px;">
    <a href="/register/" style="padding:10px 15px; background:#0b3c5d; color:white; text-decoration:none;">
    Register</a>


    <a href="/accounts/login/" style="padding:10px 15px; background:#328cc1; color:white; text-decoration:none; margin-left:10px;">
    Login</a>

</div>

</body>
</html>
